.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0;
  font-family: "ClashFont", sans-serif;
}

.pagination-container span {
  font-weight: bold;
  color: whitesmoke;
}

.pagination-container button {
  padding: 1rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: "ClashFont", sans-serif;
}

.pagination-container button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pagination-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 440px) {
  .pagination-container button {
    padding: 0.5rem 0.7rem;
    font-size: 12px;
}

  .pagination-container span {
    font-size: 12px;
  }
}