@font-face {
  font-family: "ClashFont";
  src: url("./fonts/clash.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html, body {
  background: url(/img/background-default.webp);
  font-family: "ClashFont", sans-serif;
}